@model ShopShoe.Models.LoaiSanPham

@{
    ViewBag.Title = "Thêm loại sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
 }
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Thêm mới loại sản phẩm</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="" class="btn btn-default">Thêm mới</a>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                @using (Html.BeginForm("Them", "LoaiSanPham", FormMethod.Post))
                {
                    <div class="form-group">
                        <label class="col-md-2">Tên loại</label>
                        @Html.TextBoxFor(model => model.TenLoai, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">Ngày tạo</label>
                        <input class="form-control" name="NgayTao" value="@DateTime.Now" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn">Thêm mới</button>
                    </div>
                }
               
                <!-- /.table-responsive -->

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>

</div>
