
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--start-breadcrumbs-->
<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs-main">
            <ol class="breadcrumb">
                <li><a href="index.html">Trang chủ</a></li>
                <li class="active">Tài khoản</li>
            </ol>
        </div>
    </div>
</div>
<!--end-breadcrumbs-->
<!--account-starts-->
<div class="account">
    <div class="container">
        <div class="account-top heading">
            <h2>Đăng Nhập</h2>
        </div>
        @using (Html.BeginForm("DangNhap", "KhachHang", FormMethod.Post))
        {
            <div class="account-main">
                <div class="col-md-6 account-left">
                    <h3>Đăng nhập ngay</h3>
                    <div class="account-bottom">
                        @ViewBag.Loi
                        <input placeholder="Email" type="text" name="Email" tabindex="3" required>
                        <input placeholder="Password" type="password" name="MatKhau" tabindex="4" required >
                        <div class="address">

                            <input type="submit" value="Đăng nhập">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 account-right account-left">
                    <h3>Bạn chưa có tài khoản? Đăng kí ngay!</h3>
                    <p></p>
                    <a href="@Url.Action("DangKi","KhachHang")">Đăng ký!</a>
                </div>
                <div class="clearfix"></div>
            </div>
        }

    </div>
</div>
<!--account-end-->
